<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>[%d] [%p] [%F:%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}/${log.name}</File>
        <Append>true</Append>
        <encoder>
            <pattern>[%d] [%p] [%F:%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>


    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d] [%p] [%F:%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>


    <logger name="Management.dao" level = "DEBUG"></logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>

</configuration>